.MainTable{padding-top:59px;}
.menu{position:fixed;width:100%;}
/*new style for search and new menu*/



 .clear {



  clear: both;



  height: 0px;



  }



 img{



	 border:0px;} 



input:focus, select:focus{



	outline:none;}



.nav-holder{



	position:relative;



	margin-top:10px;



	width: 960px;



	margin-right: auto;



	margin-left: auto;



}  



.search-txtbox {



	behavior: url(PIE.htc);



	position:relative;



	-webkit-border-radius: 8px;



-moz-border-radius: 8px;



border-radius: 8px;



border: solid 1px #B6B5B5;



height: 25px;



padding:2px;



}







.search-txtbox:focus{



	border: 1px solid #CFDAD9;



	box-shadow: 0px 0px 8px #000;



	-moz-box-shadow: 0px 0px 8px #000;



	-webkit-box-shadow: 0px 0px 8px #000;



	}







.srch-btn {



	behavior: url(PIE.htc);



	position:relative;



	-webkit-border-radius: 8px;



	-moz-border-radius: 8px;



	border-radius: 8px;



	border:none;



	height: 25px;



	width:70px;



	color:#2C5755;



	font-weight:bold;



	cursor:pointer;



	background-color: #CFDAD9;



}



.srch-btn:hover{



	background-color:#98AFAD;



}











  



.nav-menu {



	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;



	font-size: 14px;



	font-weight: bold;



	text-align: center;



	display: table;



	margin-right: auto;



	margin-left: auto;



	list-style:none;



}







.nav-menu li{



	float:left;



	margin-left:15px;



	margin-right:15px;



	}











.sub-menu {



background-color: #426965;

border: 1px solid #D3D1D1;

list-style-type: none;

width: 133px;

position: absolute;

top: 11px;

padding: 5px;

border-radius: 0px 0px 8px 8px;

behavior: url(PIE.htc);

-webkit-border-radius: 0px 0px 8px 8px;

-moz-border-radius: 0px 0px 8px 8px;

z-index: 99;

}



.sub-menu li {}



.sub-menu a{



	padding:5px;



	color: #2C5755;



}



.sub-menu a:hover{



	display:inline-block;



	width:90%;



	color:#FFF;



	background-color: #2C5755;



}	



.nav-holder a{



	text-decoration:none;



	padding-top: 6px;



display: inline-block;}



	



.nav-holder a:hover{



	text-decoration:underline;}		



  .search



  {



	width:800px;



	min-height:30px;



	margin: auto;



	padding: 6px;



	border-radius: 0px 0px 8px 8px;



	behavior: url(PIE.htc);



	-webkit-border-radius: 0px 0px 8px 8px;



	-moz-border-radius: 0px 0px 8px 8px;



	position:relative;



	background-color: #2C5755;



  }



.small-lbl {



	font-family: Verdana, Geneva, sans-serif;



	font-size: 13px;



	font-weight: bold;



	color: #B3D8DD;



}











/* style name : orange style */







/* Controls the page background colors and margings */



.MainPage



{



	margin-left: 0px;



	margin-top: 0px;



	margin-right: 0px;



	margin-bottom: 0px;



	background-color: #6E8D88;



	color: #FFF;



}







/* main table */



.MainTable



 {



   font-family: Verdana, Arial, Helvetica, sans-serif;



   }











/* Report Title */



.Title {



	font-family: "Times New Roman", Times, serif;



	font-size: 16px;



	font-weight: bold;



	color: #2C5755;



	background-color: #CFDAD9;



	border-top-width: 2px;



	border-bottom-width: 2px;



	border-top-style: solid;



	border-bottom-style: solid;



	border-top-color: #999999;



	border-bottom-color: #999999;



	padding-left:10px;



}







/* Separate between sections  */



.Separator 



{



	background-color: #6E8D88;



	color: #FFF;



}







/* The first grouping levels */



.MainGroup {



font-family: Arial, Helvetica, sans-serif;

font-size: 14px;

font-weight: bold;

color: #2C5755;

background-color: #97B3B0;



}







/* Any subgrouping levels */



.SubGroup{

font-family: "Courier New", Courier, monospace;

font-size: 13px;

font-weight: bold;

color: #066;

background-color: #DFE9E7;

border-top-width: 1px;

border-bottom-width: 1px;

border-top-style: solid;

border-bottom-style: solid;

border-top-color: white;

border-bottom-color: white;



}







/* records Table Header */



.TableHeader



 {



	font-family: Georgia,"Times New Roman", Times, serif;



	font-size: 12px;



	font-weight: bold;



	color: #333333;



	background-color: #CFDAD9;



	}











/* columns header */



.ColumnHeader



{



	font-family: Geneva, Arial, Helvetica, sans-serif;



	font-size: 13px;



	font-weight: bold;



	color: #FFFFFF;



	background-color: #2C5755;



}











/* Table Cell */



.TableCell



 {

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size: 13px;

color: black;

background-color: #FDFFFF;



}







/* Alternate table’s cell (Toggling) */



.AlternateTableCell{



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



	color: #000000;



	background-color: #C5D1D0;



}







/* navigation menu */







 .menu {



	font-family: Georgia, "Times New Roman", Times, serif;



	color: #FFFFFF;



	background-color: #2C5755;



	background-image: url(images/glass-cell.png);



	background-repeat: repeat-x;



}











.menu_hover



{



	color: #000000;



	background-color: #458986;



}











a:visited {



	font-size: 12px;



	font-weight: bold;



	color: #FFF;



	}



a:link {



	font-family: Tahoma, Geneva, sans-serif;



	font-size: 12px;



	font-weight: bold;



	color: #CFDAD9;



	}	



	



   



 /* page Footer */



.TableFooter



 {



	font-family: Verdana, Arial, Helvetica, sans-serif;



}     



  #close_search{

	 position:absolute;

	 right:5px;}                